@font-face {
  font-family: Raleway;
  src: url(Fonts/Raleway-VariableFont_wght.ttf);
}
@font-face {
  font-family: Kanit;
  src: url(Fonts/Kanit-Regular.ttf);
}
@font-face {
  font-family: Teko;
  src: url(Fonts/Teko-Medium.ttf);
}
* {
  font-family: Raleway;
  color: rgb(22, 22, 22);
}
html,
body {
  margin: 0;
  padding: 0;
}
.nav ul {
  margin: 0;
}
.nav li {
  display: inline;
}
a {
  text-decoration: none;
  padding: 0.5em;
}
.nav a {
  display: inline-block;
  color: #181a20;
}
.nav a:hover {
  background-color: rgba(236, 236, 236, 0.33);
}
.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 55px;
  height: 30px;
  margin: 0 5px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #333744;
  transition: 0.4s;
  border-radius: 17px;
}
.switch input {
  display: none;
}
.slider:before {
  position: absolute;
  font-size: 17px;
  content: "💡";
  top: 2.5px;
  height: 25px;
  width: 25px;
  right: 2.5px;
  left: 2.5px;
  background-color: white;
  transition: 0.4s;
  border-radius: 25px;
}
input:checked + .slider {
  background-color: #08769b;
}
input:checked + .slider:before {
  transform: translateX(25px);
  content: "🌙";
}
.main-nav {
  text-align: center;
  font-size: large;
  border-bottom: 1px solid #caf3ff;
}
.main-nav li {
  padding: 0 5%;
}
.main-header {
  background: linear-gradient(120deg, #9acfe0, #cbe6ef);
}
.TitleGT {
  text-align: center;
  color: #e8faff;
  margin: 0px;
  font-size: 6em;
  font-family: Teko;
  text-shadow: 0 0 0.05em #333744;
}
.content-section {
  margin: 1em;
}
.container {
  margin: 0 auto;
  padding: 0 1.5em;
}
.about {
  max-width: 950px;
}
.div-about {
  padding: 1px;
  background-color: #cbe6ef;
}
.section-header {
  font-family: Kanit;
  color: black;
  font-size: 2em;
  text-shadow: 0.05em 0.05em #ffffff;
}
.section-header1 {
  text-shadow: 0.05em 0.05em #3594b9;
}

.section-paragraph {
  font-size: 1.5em;
}
.ImageGrind {
  width: 100%;
}
.TitleGT2 {
  font-size: 3em;
  color: rgb(221, 240, 255);
}
.main-footer {
  background-color: #182c39;
  padding: 0.25em 0;
  font-size: 2.5vh;
}
.main-footer-container {
  display: flex;
  align-items: center;
}
.main-footer-container a {
  text-align: end;
  font-size: 3vh;
}
* {
  font-size: 1.15em;
  transition: 0.3s;
}

.loader1 {
  background-color: #b3b3b3 !important;
  position: fixed !important;
  display: block !important;
  z-index: 2 !important;
  width: 100%;
  height: 100%;
}
.loader {
  z-index: 2;
  position: fixed;
  display: block;
  right: 45%;
  top: 45%;
  border: 16px solid #e9f9ff;
  border-top: 16px solid #c0002a;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loaderstop {
  display: none !important;
}

.login {
  width: none;
  padding: 50px;
  padding-bottom: 130px;
  top: 50%;
  left: 50%;
  background: linear-gradient(120deg, #23baeb, #a2bbc2);
  text-align: center;
}

input {
  border: 0;
  background-color: none;
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #3594b9;
  padding: 14px 10px;
  width: 370px;
  outline: none;
  border-radius: 24px;
}
input:focus {
  width: 400px;
  border-color: #23baeb;
}
.button {
  border: 0;
  background-color: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3594b9;
  padding: 14px 10px;
  width: 190px;
  outline: none;
  border-radius: 24px;
  cursor: pointer;
}
.button:hover {
  width: 210px;
  border-color: #bedae6;
  background: linear-gradient(140deg, #db0a40, #db590a);
  background-color: #68b5d3;
  color: rgb(221, 240, 255);
}

.signup {
  background: linear-gradient(140deg, #94733d, #daaf62);
  border-color: #ffe7bb !important;
  box-shadow: 0 0 10px #ffe7bb;
  color: rgb(255, 255, 255) !important;
}
.signup:hover {
  background: linear-gradient(150deg, #aa8f61, #ecb24a) !important;
  color: rgb(255, 255, 255) !important;
}

/******************************* DARK ****************************************/
.dark-header {
  background: #181a20 !important;
}
.dark-container {
  background: linear-gradient(120deg, #181a20, #13151b) !important;
  border-radius: 0px !important;
}
.dark-footer {
  background: #13151b;
}
.dark-about {
  padding-top: 0.5px;
  background-color: #181a20;
  border-radius: 0px !important;
}
.dark-text {
  color: #e2e4e9;
}
.dark-text-w {
  color: white !important;
}
.dark-text-b {
  color: #db0a40;
  text-shadow: 0 0 0.025em #db0a40;
}

.dark-var {
  background: #2b2f3a !important;
}

/******************************* DARK:KMEL. ****************************************/
.popup {
  display: none;
}
.popup.active {
  display: block;
  position: fixed;
  transform: translate(-50%, -50%);
  padding: 20px;
  margin: 0px;
  border-radius: 25px;
  box-shadow: 0 0 1000px 1000px rgba(0, 0, 0, 0.7);
}
.popup .section-header {
  margin: 10px;
  margin-bottom: 30px;
}
.btnx {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0px !important;
  padding: 0px !important;
  width: 37px !important;
  text-align: center;
}
.popup form {
  font-size: 1em;
}
#gender {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

/***********************************************************************/
.BtnS {
  margin: 0px;
  padding: 0px;
  width: 80px !important;
  height: 80px !important;
}
#Verify {
  position: absolute;
  bottom: 0;
  right: 0;
}
#Settings {
  position: absolute;
  bottom: 0;
  left: 0;
}

.vars {
  height: auto;
  position: relative;
  text-align: center;
  background: linear-gradient(180deg, #cbe6ef, #9acfe0);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.vars .section-header {
  padding: 8px !important;
  margin: 0px !important;
}

.Settings {
  display: none;
}

.listing li {
  display: inline-flex;
  align-items: center;
  justify-content: center !important;
  width: none;
  padding: 10px !important;
  border-radius: 25px;
  top: 50%;
  left: 50%;
  background-color: #69c9e9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.listing {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0px 100px;
  gap: 10px;
}

.listing input {
  height: 52px;
  font-size: 25px;
}
.todo-form .listing input:focus {
  width: 460px;
  height: 58px !important;
}

#msg1 {
  color: #ffffff;
  font-size: 40px;
  padding: 20px 0;
}

#msg2 {
  color: #ffffff;
  font-size: 20px;
  padding-bottom: 20px;
}

#ADD1button {
  order: 1;
}

/*-------------------------todo list  --------------------------------*/
.todo-div {
  text-align: center !important;
  background: linear-gradient(180deg, #9acfe0, #cbe6ef);
  margin: 0;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
  border-radius: 25px;
}
.todo-head,
.todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-form button {
  border-radius: 17px;
}
.todo-form input {
  margin: 0;
}

.todo-form input,
.todo-form button {
  padding: 0.5rem;
  font-size: 2rem;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
}
.todo {
  margin: 0.5rem;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  box-shadow: 0 0 10px rgb(0 52 60 / 70%);
}
.todo li {
  flex: 1;
}
.trash-btn,
.complete-btn {
  border: none;

  background: #ff6f47;
  /* cant change color because of *{color}*/
  color: red !important;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: green;
}
.todo-item {
  padding: 0rem 0.5rem;
}
.fa-check,
.fa-trash {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #08769b;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
  font-size: 1rem;
}
.select::after {
  content: "\25BC";
  position: absolute;
  background: #182c39;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  font-size: 1rem;
  transition: 0.1s;
}
/****/
.filter-todo {
  font-size: 0.9rem;
}
.select:hover::after {
  transition: 0.1s;
  background: white;
  color: #182c39;
  box-shadow: 0 0 10px rgba(24, 44, 57, 0.7);
}

.todo-form .listing {
  align-items: center;
  box-shadow: 0 0 20px rgb(0 0 0 / 40%);
  background-color: #a9d5e4;
  padding: 10px;
  border-radius: 25px;
}

.todo-form .listing input {
  width: 300px;
  height: 58px !important;
}

/****/

#tasks {
  flex-direction: column !important;
  align-items: center !important;
  min-height: 20vh;
}

#tasks li {
  justify-content: space-between !important;
  flex-wrap: wrap;
  max-width: 800px;
}

#tasks li input {
  width: 34vw !important;
  cursor: default;
}
#DeleteCompleted {
  width: 40px !important;
  height: 40px !important;
  font-size: 0.5em;
}
small {
  font-size: 0.7em;
  font-family: Kanit;
}
smaller {
  font-size: 0.5em;
  font-family: Kanit;
}
#tasks .dark-var input:disabled {
  color: white;
}

/*-------------------------todo list: KMEL.  --------------------------------*/

#RASF {
  opacity: 0.7;
  position: fixed !important;
  bottom: 20px;
  right: 20px;
}
#RASF:hover {
  opacity: 1;
  position: fixed !important;
  bottom: 20px;
  right: 20px;
  filter: drop-shadow(0 0 10px rgb(255 90 0 / 70%));
}

#calendar {
  cursor: pointer;
  font-size: 40px;
  size: 900px !important;
}
.calendar {
  background: #9acfe0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
  border-radius: 25px;
  padding: 50px;
}

#tasks li textarea {
  width: 34vw !important;
  cursor: default;
}
.listing textarea {
  height: 52px;
  font-size: 25px;
}
textarea {
  border: 0;
  background-color: none;
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #3594b9;
  padding: 14px 10px;
  width: 370px;
  outline: none;
  border-radius: 24px;
}
